@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.row-1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.big-title{
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 50px;
}

.big-title h2{
    font-size: 72px;
    transition: .6s;
}

.big-title h6{
    font-size: 40px;
    transition: .6s;
}


.title{
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 50px;
}

.title h2{
    font-size: 36px;
}

.title h6{
    font-size: 20px;
}

/* end */

.fixed-box{
    position: fixed;
    z-index: 99;
    bottom: 30px;
    right: 60px;
}

.top{
    background: #232323;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top > a{
    font-size: 28px;
    color: #ffe5d3;
}

/* end */

.my-nav{
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
    transition: .3s;
}

.my-nav-scroll{
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 0 0 20px 20px;
}

.my-nav-open{
    color: #fff;
    background: transparent;
    backdrop-filter: blur(20px);
    transition: .3s;
}

.my-nav-open-scroll{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}

.nav-a{
    color: #fff;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
}

.nav-li{
    margin-bottom: 10px;
    transition: .3s ease-out;
}

.nav-li:hover{
    transform: translateY(-10px);
}

.dark-scroll{
    color: #232323;
}

/* end */

.box2{
    margin-bottom: 200px;
    height: 1700px;
    background: url(../images/aa.png)top center;
    
    /* !!! */
    background-size: contain; 

    background-repeat: no-repeat;
    text-align: center;
}

.box2-text{
    position: sticky;
    top: 160px;
}

.box2-title{
    margin-bottom: 80px;
}

.box2-h2{
    font-weight: bold;
    font-size: 92px;
    letter-spacing: 10px;
}

.box2-h6{
    font-size: 36px;
    letter-spacing: 2px;
}

.box2-p{
    font-size: 20px;
    letter-spacing: 2px;
}

/* end */

.box3{
    padding: 200px 0;
}

.box3-top{
    justify-content: space-around;
}

.box3-bottom{
    justify-content: center;
    margin-top: -400px;
}

.box3-img{
    clip-path: circle(50%);
    transition: .6s ;
}

/* .box3-img:hover{
    clip-path: circle(100%);
} */

/* end */

.box4{
    padding: 200px 0;
    background: url(../images/j.jpg);
}

.box4-all{
    color: #fff;
    backdrop-filter: blur(10px);
    padding: 100px 0;
}

.box4-table{
    font-size: 24px;
    display: flex;
    justify-content: center;
}

.year{
    padding: 5px 80px;
    font-weight: bold;
}

.ok{
    padding: 5px 80px;
}

.money{
    padding: 5px 80px;
}

.td-title{
    color: #232323;
    font-weight: bold;
    background: #ffe5d3;
}

.hide{
    opacity: 0;
    transition: .6s;
}

.show{
    opacity: 1;
    transition: .6s;
}

/* end */

.box5-b1{
    display: none;
}