@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.my-nav{
  background: transparent;
  transition: .3s;
}

.my-nav-scroll{
  margin: 15px 40px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 100px;
  transition: .3s;
}

.my-nav-li{
  padding: 0 10px;
  margin: 0 20px;
  font-size: 22px;
  font-weight: bold;
}

.my-nav-li a{
  color: #fff;
  text-align: center;
  transition: .3s;
}

.my-nav-li a:hover{
  transform: scale(1.3);
}

#log-in{
  border-radius: 60px;
  margin-left: 50px;
  transition: .3s;
  border: 3px solid #ff4e45;
  padding: 5px 20px;
}

#log-in:hover{
  background: #ff4e45;
  transform: scale(1.2);
}


.navbar-brand{
  margin-right: 10%;
}

.navbar-brand img{
  width: 150px;
  height: auto;
  margin: 10px 0;
}

@media (max-width: 1590px) {
  
  .my-nav-li{
    padding: 0 10px;
    margin: 0 10px;
    font-size: 22px;
    font-weight: bold;
  }

  .navbar-brand{
    margin-right: 0;
  }
  
}

@media (max-width: 1278px) {

  .my-nav-li a{
    color: #fff;
    text-align: center;
    font-size: 15px;
  }
    
  .my-nav-li{
    padding: 0 10px;
    margin: 0 5px;
    font-size: 22px;
    font-weight: bold;
  }

}

@media (max-width: 991px) {

  #log-in{
    border-radius: 60px;
    margin-left: 0;
    transition: .3s;
    border: 3px solid #ff4e45;
    padding: 5px 20px;
  }
  
  #log-in:hover{
    background: #ff4e45;
    transform: scale(1.1);
  }

  .my-nav-scroll{
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    transition: .3s;
  }

  .my-nav{
    background: rgba(0, 0, 0, 0.8);
  }
  
}

/* end */

.row-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.carousel-caption{
  text-align: justify;
  margin-bottom: 15%;
}

.carousel-caption h2{
  font-size: 90px;
  color: transparent;
  -webkit-text-stroke: #00dbff 1px;
  letter-spacing: 3px;
  line-height: 40px;
}

.carousel-caption h1{
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
}

.carousel-caption p{
  font-size: 30px;
  font-weight: bold;
}

.carousel-caption a{
  font-size: 20px;
  font-weight: bold;
  color: #232323;
  background: #f9f9f9;
  padding: 5px 20px;
  border-radius: 30px;
  text-decoration: none;
}

@media (max-width: 1248px) {
  
  .carousel-caption{
    text-align: justify;
    margin-bottom: 5%;
  }

  .carousel-caption h2{
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: #00dbff 1px;
    letter-spacing: 3px;
    line-height: normal;
  }

  .carousel-caption h1{
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
  }

  .carousel-caption p{
    font-size: 12px;
    font-weight: bold;
  }

  .carousel-caption a{
    display: none;
  }
}

@media (max-width: 721px) {
  
  .carousel-caption{
    text-align: justify;
    margin-bottom: -10px;
  }

  .carousel-caption h2{
    display: none;
  }

  .carousel-caption h1{
    font-size: 30px;
    font-weight: bold;
    line-height: normal;
  }

  .carousel-caption p{
    font-size: 12px;
    font-weight: bold;
  }

  .carousel-caption a{
    display: none;
  }
}

/* end */

.box2{
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.box2-1{
  margin-right: 15%;
  padding: 40px 100px;
  border-radius: 20px;
}

.box2-1 h2{
  font-weight: bold;
  font-size: 36px;
}

.box2-1 p{
  font-weight: bold;
  font-size: 26px;
}

.box2-2-box{
  width: 480px;
  height: 110px;
  background: linear-gradient(45deg,rgba(0,255,255,0.5),rgba(46,49,146,0.5));
  box-shadow: -5px -5px 10px #fafbffa8, inset 5px 5px 10px rgba(22, 27, 29, 0.2);
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}

.box2-2-in{
  transition: .3s;
  margin-left: 20px;
}

.box2-2-box h2{
  font-weight: bold;
}

.box2-2-box:hover{
  transform: scale(1.1);
  box-shadow: none;
}

.box2-2-box:hover .box2-2-in{
  transform: scale(1.1);
  color: #fff;
}

@media (max-width: 1084px) {
  .box2-1{
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* end */

.box3{
  background: url(../images/資產\ 10.png) center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.box3-2{
  background: url(../images/資產\ 18.png) center center;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.box3-in-box{
  margin: 50px 40px;
  padding: 50px 80px;
  border: 5px solid #f9f9f9;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  transition: .3s;
  cursor: default;
}

.box3-in-box span{
  font-size: 70px;
  line-height: 80px;
}

.box3-in-box:hover{
  transform: scale(1.1);
  background: #fff;
  color: #00dbff;
}

@media (max-width: 837px) {

  .box3-in-box{
    margin: 10px 10px;
    padding: 25px 50px;
    font-size: 20px;
  }
  
  .box3-in-box span{
    font-size: 50px;
  }

}

/* end */

.box4{
  margin-top: 80px;
}

.box4-text{
  text-align: center;
  display: flex;
  justify-content: center;
}

.box4-text h2{
  padding: 10px 30px;
  font-weight: bold;
  background: #ff4e45;
  color: #f9f9f9;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 40px;
}

.box4-text p{
  color: #f9f9f9;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 20px;
}

.box4-left-text{
  margin-top: 500px; 
  margin-left: 30px;
  transition: .5s;
}

.box4-boxs{
  padding: 80px;
}

.new1{
  background: url(../images/D/Special_Event8.jpg)center center; 
  background-size: cover; 
  width: 100%; 
  height: 500px; 
  overflow: hidden;
  position: relative;
}

.new1:hover .box4-left-text{
  margin-top: 350px;
  z-index: 99;
  position: relative;
}

.new1::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,rgba(0,255,255,0.5),rgba(46,49,146,0.5));
  z-index: 1;
  opacity: 0;
  transition: .3s;
}

.new1:hover::before{
  opacity: 1;
}

.new2{
  background: url(../images/D/Special_Event2.jpg)center center; 
  background-size: cover; 
  width: 100%; 
  height: 370px; 
  overflow: hidden;
  position: relative;
}

.new2::before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,rgba(0,255,255,0.5),rgba(46,49,146,0.5));
  z-index: 1;
  opacity: 0;
  transition: .3s;
}

.new2:hover::before{
  opacity: 1;
}

.box4-right-text{
  margin-top: 450px; 
  margin-left: 30px;
  transition: .5s;
  z-index: 99;
  position: relative;
}

.new2:hover .box4-right-text{
  margin-top: 250px;
}

.n1{
  padding: 20px 40px;
  margin: 20px 0;
  box-shadow: -5px -5px 10px #e4e4e4a8, 5px 5px 10px rgba(22, 27, 29, 0.2);
  background: #ffffff;
  color: #232323;
  border-radius: 20px;
  transition: .3s;
}

.n1:hover{
  color: #f9f9f9;
  transform: scale(1.05) rotate(1deg);
  box-shadow: none;
  background: #ff4e45;
  box-shadow: 10px 10px 5px #23232369;
}

.n2{
  padding: 20px 40px;
  margin: 20px 0;
  box-shadow: -5px -5px 10px #e4e4e4a8, 5px 5px 10px rgba(22, 27, 29, 0.2);
  background: #ffffff;
  color: #232323;
  border-radius: 20px;
  transition: .3s;
}

.n2:hover{
  color: #f9f9f9;
  transform: scale(1.05) rotate(1deg);
  box-shadow: none;
  background: #00c8dd;
  box-shadow: 10px 10px 5px #23232369;
}

.news h2{
  font-weight: bold;
}

.news p{
  font-weight: bold;
}

@media(max-width: 1130px) {
  .box4-boxs{
    padding: 0px;
    margin-bottom: 100px;
  }

  .box4-right-text{
    margin-top: 250px;
  }

  .box4-left-text{
    margin-top: 350px;
  }
}

/* end */

.box5{
  background: #00c8dd;
  color: #fff;
  padding: 60px 0;
}

.box5-text{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.box5-text h2{
  padding: 10px 30px;
  font-weight: bold;
  background: #ff4e45;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 40px;
}

.box5-text p{
  color: #f9f9f9;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 20px;
}

td{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;  
  transition: .3s;
  cursor: default;
}

table{
  background: #fff;
  border-radius: 20px;
}

td>p{
  margin-bottom: 0;
  color: #232323;
}

td>a{
  color: #ff4e45;
}

td>a:hover{
  color: #ca3c34;
  text-decoration: none;
  transform: scale(3);
}

.week{
  display: none;
  position: relative;
  background: #fff;
  color: #232323;
  padding: 10px 60px;
  border-radius: 20px;
  width: 600px;
}

.week>div{
  /* background: linear-gradient(45deg,rgba(0,255,255,0.2),rgba(46,49,146,0.2)); */
  border-radius: 20px;
  padding: 2px 10px;
  margin: 20px 0;
}

.week h2{
  font-weight: bold;
  font-size: 32px;
}

.week p{
  font-weight: bold;
  font-size: 16px;
}

.map-img{
  background: url(../images/map.png)center center;
  background-size: cover;
  height: 420px;
  width: 600px;
}

@media (max-width:1266px) {
  .week{
    width: 440px;
  }
}

@media (max-width:991px) {
  .box5-2{
    max-width: 991px;
  }
  
  .week{
    margin-top: 30px;
  }
}

/* end */

.box7-text{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.box7-text h2{
  padding: 10px 30px;
  font-weight: bold;
  background: #ff4e45;
  color: #f9f9f9;
  border-radius: 100px;
  letter-spacing: 5px;
  font-size: 40px;
}

.box7-text p{
  color: #f9f9f9;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 20px;
}

.art1{
  text-align: center;
}

.box7-box-text h2{
  font-weight: bold;
  margin-top: 20px;
}

.box7-box-text .btn{
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #ff4e45;
  border-radius: 30px;
  box-shadow: 0px 5px #232323;
  transition: .3s;
}

.box7-box-text .btn:hover{
  background: #ff4e45;
  box-shadow: none;
  color: #f9f9f9;
  transform: scale(1.1);
}

.box7-boxs{
  margin: 0px 100px;
  padding: 50px 50px;
  border-radius: 40px;
  background: #fff;
}

.box7{
  background: #00c8dd;
  padding: 60px 0;
}

@media (max-width: 768px) {
  
  .art1{
    margin-bottom: 50px;
  }

  .box7-boxs{
    margin: 0;
  }
}

/* end */

.box8{
  background: url(../images/box8.png) center center;
  background-size: cover;
  width: 100%; 
  height: auto; 
  padding: 3% 20%;
}

.box8-box{
  background: rgba(255, 255, 255, 0.6); 
  padding: 50px 70px; 
  border-radius: 30px;
}

.box8-text h2{
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 30px;
}

.form-group label{
  font-weight: bold;
  font-size: 20px;
}

.box8-box-text{
  height: 150px;
  border-radius: 10px;
}


@media (max-width: 768px) {

  .box8{
    background: url(../images/box8.png) center center;
    padding: 10% 10%;
  }

  .box8-box{
    padding: 50px; 
  }
}

/* end */

footer{
  padding: 20px 0;
  background: #232323;
  color: #f9f9f9;
}

.box9-box{
  justify-content: center;
  align-items: center;
}

hr{
  width: 1300px;
  background: rgb(153, 153, 153);
}

.box9-box-1 img{
  width: 200px;
  height: auto;
}

.box9-box-1, .box9-box-2{
  display: flex;
  justify-content: center;
}

.box9-box-3{
  text-align: center;
}

/* end */

.gotop{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 99;
  right: 40px;
  bottom: 50px;
  border-radius: 100px;
  background: linear-gradient(45deg,rgba(0,255,255,0.8),rgba(46,49,146,0.6));
  box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.2);
  transition: .6s;
}

.gotop:hover{
  background: linear-gradient(45deg,rgba(0,255,255,1),rgba(46,49,146,0.8));
  box-shadow: 5px 5px 10px rgba(22, 27, 29, 0.2);
}

.gotop>a{
  font-size: 40px;
  color: #fff;
}

/* end */

.login{
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  padding: 200px 0;
  padding-left: 17px;
} 

.login-box{
  background: #fff;
  padding: 30px 100px;
}

.login-box>h2{

}

.login-box>form>input{
  outline: none;
  border: none;
  padding: 10px 10px;
}

.login-box>form>label{
  margin-top: 20px;
}

.login-box>form>button{
  border: none;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 40px;
}